<h3>{{ '{core:no_state:suggestions}'|trans }}</h3>
<ul>
    <li>{{ '{core:no_state:suggestion_badlink}'|trans }}</li>
    <li>{{ '{core:no_state:suggestion_goback}'|trans }}</li>
    <li>{{ '{core:no_state:suggestion_closebrowser}'|trans }}</li>
</ul>

<h3>{{ '{core:no_state:causes}'|trans }}</h3>
<ul>
    <li>{{ '{core:no_state:cause_badlink}'|trans }}</li>
    <li>{{ '{core:no_state:cause_backforward}'|trans }}</li>
    <li>{{ '{core:no_state:cause_openbrowser}'|trans }}</li>
    <li>{{ '{core:no_state:cause_nocookie}'|trans }}</li>
</ul>
